<phpunit colors="true">
  <testsuites>
    <testsuite name="BattleSimulator">
      <file>tests/Blow/AttackTest.php</file>
      <file>tests/Combatants/SwordsmanTest.php</file>
      <file>tests/Combatants/BruteTest.php</file>
      <file>tests/Combatants/GrapplerTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
